/fwb
!/.gitignore
!/fetch.sh
!/BannerMessagePreference/
/BannerMessagePreference/*
!/BannerMessagePreference/build.gradle
!/CollapsingToolbarBaseActivity/
/CollapsingToolbarBaseActivity/*
!/CollapsingToolbarBaseActivity/build.gradle
!/MainSwitchPreference/
/MainSwitchPreference/*
!/MainSwitchPreference/build.gradle
!/SettingsTheme/
/SettingsTheme/*
!/SettingsTheme/build.gradle
!/TwoTargetPreference/
/TwoTargetPreference/*
!/TwoTargetPreference/build.gradle
!/Utils/
/Utils/*
!/Utils/build.gradle
